* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #04010a;
    color: white;
    font-family: 'Academy Engraved LET';
}
h1 {
    font-family: 'LIKEASTONE2';
    font-size: 60px;
}

h3 {
    font-family: 'LIKEASTONE2';
    font-size: 40px;
}

h4 {
    font-family: 'Savoye LET';
    font-size: 30px;
}

p {
    margin: 70px;
}

div {
    font-size: 20px;
    margin: 10px;
    color: white;
    font-family: 'Academy Engraved LET';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch center;
    height: 50px;
    background-color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
