body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}
h1 {
    font-family: 'LIKEASTONE2';
    font-size: 60px;
}

p {
    margin: 70px;
}

div {
    font-size: 20px;
    margin: 10px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch | center;
    height: 50px;
    background-color: black;
}

